@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Signika+Negative:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  font-family: "Cinzel", serif;
  font-size: 1.2rem;
  text-shadow: 2px 2px 3px #fff;
}

body {
  background-image: url(../assets/fondo.mp4);
  background-size: cover;
  background-attachment: fixed;
}
body h1 {
  font-family: "Cinzel", serif;
  color: #fff;
}
body h2 {
  font-family: "Cinzel", serif;
  color: #fff;
  text-shadow: 3px;
}
body h3 {
  font-size: 1.1rem;
  font-family: "Signika Negative", sans-serif;
  color: #fff;
}
body h4 {
  font-size: 1.1rem;
  font-family: "Signika Negative", sans-serif;
  color: #fff;
}
body p {
  font-family: "Signika Negative", sans-serif;
  color: #fff;
  font-size: 1rem;
}

footer {
  background-color: #000;
  position: sticky;
  top: 0;
}
footer p {
  color: #fff;
}

.headerMobile {
  display: flex;
  gap: 50px;
  padding: 0;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #000;
  margin-bottom: 50px;
}

.logo img {
  display: none;
}

.logoM {
  width: 70px;
  height: 60px;
  margin: 10px 0px 10px 40px;
}

.menuMobile {
  display: none;
}

.menuH {
  width: 35px;
  height: 35px;
  margin: 20px 30px 0px 0px;
}

.menu {
  display: none;
}

@media (min-width: 767px) {
  .encabezado {
    display: flex;
    gap: 50px;
    padding: 30px 80px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: transparent;
    margin-bottom: 50px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 15px;
  }
  .logo {
    flex-direction: row;
  }
  .logo img {
    display: block;
    width: 200px;
    height: 50px;
  }
  .headerMobile {
    display: none;
  }
}
.contenedorBusqueda {
  max-width: 800px;
  margin: auto;
  height: 100vh;
}

.filtros {
  display: flex;
  justify-content: center;
}
.filtros form {
  width: 100%;
}
.filtros select {
  border-radius: 10px;
  background-color: #000;
  border-color: #878582;
  box-shadow: 2px 2px 2px #878582;
  height: 40px;
  width: 33%;
  color: #fff;
  font-family: "Signika Negative", sans-serif;
  font-size: 1rem;
}

.lupa {
  padding: 20px 0;
  justify-content: center;
}
.lupa ::placeholder {
  font-family: "Signika Negative", sans-serif;
  font-size: 1rem;
  padding-left: 10px;
}
.lupa input {
  height: 40px;
  width: 80%;
  border-radius: 10px;
  background-color: #000;
  border-color: #878582;
  box-shadow: 2px 2px 2px #878582;
}
.lupa button {
  width: 18%;
  height: 40px;
  border-radius: 10px;
  margin-left: 10px;
  font-family: "Signika Negative", sans-serif;
  font-size: 1rem;
  background-color: #a50905;
  border-color: #a50905;
  color: #fff;
}

.saludo {
  padding: 50px 0;
  text-align: center;
}
.saludo p {
  padding: 3px 0;
}

.seccionFiltros {
  width: 800px;
  margin: auto;
  display: none;
}

.vistaPreviaContenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 200px);
  gap: 10px;
  padding: 10px;
  width: 60%;
  margin: auto;
}

.seccionResultados {
  max-width: 100%;
  display: none;
}

.detallesContenedor {
  width: 40%;
  margin: auto;
  height: 100vh;
  display: none;
}

.cardDetallada {
  display: flex;
  background-color: #000;
  border-radius: 10px;
  border: solid 1px rgb(49, 48, 45);
  height: 500px;
  align-items: center;
  gap: 30px;
}
.cardDetallada img {
  width: 35%;
  height: 70%;
  object-fit: cover;
  margin-left: 80px;
}

.datosYBtns {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-top: 80px;
}

.datosPj {
  width: 100%;
}
.datosPj div {
  display: flex;
  gap: 15px;
  margin: 5px 0;
}

.btnCard {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.btnCard button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  font-family: "Signika Negative", sans-serif;
  font-size: 0.8rem;
  background-color: #a50905;
  border-color: #a50905;
  color: #fff;
}

.vistaPrevia {
  background-color: #000;
  border-radius: 10px;
  border: solid 1px rgb(49, 48, 45);
  display: flex;
  justify-content: space-evenly;
}
.vistaPrevia h3 {
  font-size: 1rem;
  font-family: "Signika Negative", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 2px #878582;
  padding-bottom: 10px;
}
.vistaPrevia img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  align-self: center;
  margin-bottom: 15px;
}
.vistaPrevia div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vistaPrevia div button {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  font-family: "Signika Negative", sans-serif;
  font-size: 0.8rem;
  background-color: #a50905;
  border-color: #a50905;
  color: #fff;
}

.editarCard {
  background-color: #000;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  border: solid 1px rgb(49, 48, 45);
  display: flex;
  justify-content: center;
  padding: 50px;
}
.editarCard form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}

label {
  color: #fff;
  font-family: "Signika Negative", sans-serif;
}

select {
  border-radius: 10px;
  background-color: #000;
  border-color: #878582;
  box-shadow: 2px 2px 2px #878582;
  height: 40px;
  width: 100%;
  color: #fff;
  font-family: "Signika Negative", sans-serif;
  font-size: 1rem;
}

.ediarDescripcion {
  width: 100%;
}
.ediarDescripcion textarea {
  border-radius: 10px;
  border-color: #878582;
  background-color: #000;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
