.editarCard {
  background-color: $color-cuaternario;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  border: solid 1px $color-cards;
  display: flex;
  justify-content: center;
  padding: 50px;

  form {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
  }
}
label {
  color: $color-primario;
  font-family: "Signika Negative", sans-serif;
}

select {
  border-radius: 10px;
  background-color: #000;
  border-color: #878582;
  box-shadow: 2px 2px 2px #878582;
  height: 40px;
  width: 100%;
  color: $color-primario;
  font-family: "Signika Negative", sans-serif;
  font-size: 1rem;
}

.ediarDescripcion {
  width: 100%;
  textarea {
    border-radius: 10px;
    border-color: #878582;
    background-color: $color-cuaternario;
    width: 100%;
  }
}
